* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
nav {
  display: flex;
  margin: 25px 5px;
}
.logo {
  width: 55px;
  margin-left: 32px;
}



ul {
  list-style-type: none;
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

